<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/adminhomestyle.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="buttons">
            <a href="/admin/messages"><button>Show Messages</button></a>
        </div>
        <div class="stats">
            <div class="stat">
                <label>Total Users:</label>
                <span>{{.Totalusers}}</span>
            </div>
            <div class="stat">
                <label>Total Tasks:</label>
                <span>{{.Totaltasks}}</span>
            </div>
            <div class="stat">
                <label>Total Messages:</label>
                <span>{{.Totalmessages}}</span>
            </div>
        </div>
    </div>
</body>
</html>
