<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/adminhomestyle.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>welcome {{.Username}} to admin panel</h1>
        <div class="buttons">
            <a href="/admin/messages"><button>Show Messages</button></a>
            <a href="/admin/usersmanagement"><button>Manage Users</button></a>
            <a href="/users/logout"><button>Logout</button></a>
        </div>
        <div class="stats">
            <div class="stat">
                <label>Total Users:</label>
                <span>{{.Statistics.Totalusers}}</span>
            </div>
            <div class="stat">
                <label>Total Tasks:</label>
                <span>{{.Statistics.Totaltasks}}</span>
            </div>
            <div class="stat">
                <label>Total Messages:</label>
                <span>{{.Statistics.Totalmessages}}</span>
            </div>
        </div>
    </div>
</body>
</html>
