<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static To-Do App</title>
    <link rel="stylesheet" href="/static/homestyle.css">
</head>
<body>
    <div class="header">
        <button>Button 1</button>
        <button>Button 2</button>
        <button>Button 3</button>
        <button>Button 4</button>
        <button>Button 5</button>
    </div>

    <div class="container">
        <h1>To-Do List</h1>

        <form class="task-form" action="/createtaskprocess" method="post">
            <label for="task-title">Task Title:</label>
            <input type="text" id="task-title" name="title" placeholder="Enter task title" required>
            
            <label for="task-desc">Description:</label>
            <input type="text" id="task-desc" name="description" placeholder="Enter task description" required>
            
            <label for="task-priority">Priority:</label>
            <select id="task-priority" name="priority">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>

            <button type="submit">Add Task</button>
        </form>


        <div class="task-list">

            {{range .}}
            <div class="task">
                <strong>Title: </strong><
                <h2>{{.Title}}</h2>
                <strong>Description:</strong>
                <h2>{{.Description}}</h2>
                <strong>Priotity:</strong>
                <h2>{{.Priority}}</h2>
                <strong>Completed:</strong>
                <h2>{{.IsDone}}</h2>
            </div>
            {{end}}

        </div>
    </div>
</body>
</html>
