<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/homestyle.css">
    <title>Edit User</title>
</head>
<body>
    <div class="container">
        <h1>Edit your Account</h1>
        <form action="/users/edituserprocessor" method="post">
            <div class="form-group">
                <input type="hidden" name="id" value={{.User.ID}}>
                <label for="username">current username : </label>
                <input type="text" id="username" name="username" value={{.User.Username}} required>
            </div>

            <div class="form-group">
                <label for="FirstName">Current First name : </label>
                <input type="text" id="FirstName" name="firstname" value={{.User.FirstName}} required>
            </div>
            <div class="form-group">
                <label for="LastName">Current Last name : </label>
                <input type="text" id="LastName" name="lastname" value={{.User.LastName}} >
            </div>

            <div class="form-group">
                <label for="currentpassword">Current Password : </label>
                <input type="password" id="currentpassword" name="currentpassword" required>
            </div>

            <div class="form-group">
                <label for="newpassword">New Password : </label>
                <input type="newpassword" id="newpassword" name="newpassword">
            </div>

            <div class="form-group">
                <label for="Email">Current Email : </label>
                <input type="text" id="Email" name="email" value={{.User.Email}} required>
            </div>

            <div class="form-group">
                <label for="PhoneNumber">Current PhoneNumber : </label>
                <input type="text" id="PhoneNumber" name="PhoneNumber" value={{.User.PhoneNumber}} required>
            </div>
            <input type="hidden" name="csrft" value="{{.CSRFT}}">

            <button type="submit" id="submit">Update User Info</button>
        </form>
        <a href="/users/home"><button id="submit">go back</button></a>
        </div>
    </div>
</body>
</html>
