<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/homestyle.css">
    <title>Send Message</title>
</head>
<body>
    <div class="container">
        <h1>Send message to admin</h1>
        <form action="/users/createmessageprocessor" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" >
                <input type="hidden"  name="csrft" value="{{.CSRFT}}" >
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" >
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" >
            </div>
            <div class="form-group">
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
            </div>

    
            <button type="submit" id="submit">send  message</button>
    
        </form>
        </div>
    </div>
</body>
</html>
