<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homestyle.css">
    <title>To-Do App</title>
</head>
<body>
    <div class="container">
        <h1>To-Do App</h1>
        <h1>welcome {{.Username}}</h1>
        <div class="buttons">
            <a href="/users/logout"><button>Logout</button></a>
            <a href="/users/editaccount/{{.Userid}}"><button>Edit Account</button></a>
            <a href="/users/messages"><button>Send message</button></a>
        </div>

        <form action="/tasks/createtaskprocess" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter task title">
            </div>
    
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Enter task description">
            </div>

                
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" placeholder="Enter task category">
            </div>
    
    
            <div class="form-group">
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
                <input type="hidden" name="csrft" value="{{.CSRFT}}">
            </div>
    
            <button type="submit" id="submit">Add Task</button>
    
        </form>


        <div class="tasks">
            {{range .Tasks}}
            <div class="task">
                <h3>Title: </h3>
                <p>{{.Title}}</p><br>
                <h3>Description: </h3>
                <p>{{.Description}}</p><br>
                <h3>Category: </h3>
                <p>{{.Category}}</p><br>
                <h3>Priority: </h3>
                <p>{{.Priority}}</p><br>
                <h3>Status: </h3>
                <p>{{.Status}}</p><br>

                <a href="/tasks/deletetask/{{.Id}}"><button>Delete</button></a>
                <a href="/tasks/edittask/{{.Id}}"><button>Edit</button></a>
            </div>
            {{end}}
        </div>


        </div>
    </div>
</body>
</html>
